@font-face{
    font-family: Minecraft;
    src: url('Minecraft.ttf');
}

#titolo{
	-fx-font-size: 35pt;
	-fx-font-family: Minecraft;
	-fx-text-fill: black;
}

#sottoTitolo{
	-fx-font-size: 15pt;
	-fx-font-family: Minecraft;
	-fx-text-fill: black;
}

#start{
	-fx-font-size: 15pt;
	-fx-font-family: Minecraft;
	-fx-text-fill: black;
	-fx-background-color: rgb(219, 191, 151);
	-fx-border-radius: 70px;
	-fx-background-radius: 70px;
    -fx-background-insets: 0,1,1;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 10 , 0.6 , 0, 1.2 );	
}

#restart{
	-fx-font-size: 15pt;
	-fx-font-family: Minecraft;
	-fx-text-fill: black;
	-fx-background-color: rgb(226, 205, 173);
	-fx-border-radius: 70px;
	-fx-background-radius: 70px;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 10 , 0.6 , 0, 1.2 );
}

#punteggio{
	-fx-font-weight: bold;
	-fx-text-fill: rgb(0,0,0);
}

#sconfitta{
	-fx-font-size: 35pt;
	-fx-font-family: Minecraft;
	-fx-text-fill: rgb(200, 46, 11);
}

.menuBottone{
	-fx-background-color: rgb(226, 205, 173);
	-fx-border-radius: 300px;
	-fx-background-radius: 300px;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10 , 0.6 , 0, 1.2 );
}

#menuRegione{
	-fx-background-color: rgb(204, 160, 96);
	-fx-background-radius: 23;
}

#difficolta{
	-fx-font-size: 30pt;
	-fx-font-family: Minecraft;
	-fx-text-fill: black;
}

.bottoniDifficolta{
	-fx-background-color: rgb(226, 205, 173);
	-fx-border-radius: 70px;
	-fx-background-radius: 70px;
	-fx-text-fill:black;
	-fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.5) , 10 , 0.6 , 0, 1.2 );
}